body {
	color: #fff;
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
}

h2 {
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 2em;
	display: inline-block;
	border-bottom: 1px double #fff;
}

.lowercase {
	text-transform: lowercase;
	letter-spacing: 2px;
}

.normal-transform {
	text-transform: none;
}

.cross-out {
	text-decoration: line-through;
}

a {
	color: #fff;

	&:visited {
		color: #333;
	}
}